body {
    font-family: "open_sansregular";
    font-size: 18px;
}

/*_________header___________*/
#header {
    background: #1e90ff;
    padding-top: 20px;
    padding-bottom: 20px;

}

.main_menu {
    display: flex;
    justify-content: space-around;
}

.main_menu li a {
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
    padding-bottom: 20px;
}

.main_menu_brend .navbar-brand {
    font-family: "open_sansbold";
    font-size: 23px;
    color: #fff;
}

.main_menu,
.navbar-light .navbar-nav .nav-link:hover {
    color: #666699;
}

.main_menu_brend .navbar-brand:hover {
    color: #666699;
}

.main_menu,
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 7rem;
}

.main_menu,
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-toggler {
    color: #fff;
    border: solid 1px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* ____________contacts_form__________________ */

#main_page,
#tables,
#tables_main {
    background: #e0ffff;
}

#main_page {
    padding-top: 5%;
}

#tables_main{
    display: flex;
    justify-content: center;
    font-size: 17px;
    padding-top: 8%;
    padding-bottom: 10%;
}
.booking{
    font-family: "open_sansbold";
    font-weight: 500;
    line-height: 1.5;
  
}


/*________footer____________*/

#footer {
    background: #1e90ff;
    padding: 20px;
    color: #fff;
}

.footer_name {
    font-family: "open_sansbold";
}

